services:
  backend:
    build: ./backend
    image: myapp-backend
    container_name: my-backend
    ports:
      - "5000:5000"
    environment:
      NODE_ENV: production
    networks:
      - app-net

  frontend:
    build: ./frontend
    image: myapp-frontend
    container_name: my-frontend
    ports:
      - "3000:80"
    depends_on:
      - backend
    networks:
      - app-net

networks:
  app-net:
    driver: bridge
