name: Node.js CI/CD Deploy

on:
  workflow_call:
    inputs:
      branch:
        required: true
        type: string
    secrets:
      docker_user:
        required: true
      docker_password:
        required: true
      render_api_key:
        required: true
      render_service_id_backend:
        required: true
      render_service_id_frontend:
        required: true

jobs:
  build-and-test-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install backend dependencies
        run: |
          cd backend
          npm ci

      - name: Run backend tests
        run: |
          cd backend
          npm test
  build-and-test-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: 18

      - name: Install frontend dependencies
        run: |
          cd frontend
          npm ci

      - name: Build frontend
        run: |
          cd frontend
          npm run build

  build-and-push-docker:
    runs-on: ubuntu-latest
    needs:
      - build-and-test-frontend
      - build-and-test-backend

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.docker_user }}
          password: ${{ secrets.docker_password }}

      # BACKEND DOCKER IMAGE
      - name: Build backend Docker image
        run: |
          IMAGE=${{ secrets.docker_user }}/my-backend
          docker build -t $IMAGE:${GITHUB_SHA} ./backend

      - name: Push backend image
        run: |
          IMAGE=${{ secrets.docker_user }}/my-backend
          docker push $IMAGE:${GITHUB_SHA}

      # FRONTEND DOCKER IMAGE
      - name: Build frontend Docker image
        run: |
          IMAGE=${{ secrets.docker_user }}/my-frontend
          docker build -t $IMAGE:${GITHUB_SHA} ./frontend

      - name: Push frontend image
        run: |
          IMAGE=${{ secrets.docker_user }}/my-frontend
          docker push $IMAGE:${GITHUB_SHA}

  deploy-backend:
    runs-on: ubuntu-latest
    needs: build-and-push-docker

    steps:
      - name: Deploy Backend to Render
        uses: johnbeynon/render-deploy-action@v0.0.8
        with:
          api-key: ${{ secrets.render_api_key }}
          service-id: ${{ secrets.render_service_id_backend }}

  deploy-frontend:
    runs-on: ubuntu-latest
    needs: build-and-push-docker

    steps:
      - name: Deploy Frontend to Render
        uses: johnbeynon/render-deploy-action@v0.0.8
        with:
          api-key: ${{ secrets.render_api_key }}
          service-id: ${{ secrets.render_service_id_frontend }}
