name: Deploy to Render

on:
  workflow_call:
    inputs:
      environment:
        required: true
        type: string
    secrets:
      render_api_key:
        required: true
      render_service_id_backend:
        required: true
      render_service_id_frontend:
        required: true

jobs:
  deploy-backend:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy backend
        uses: johnbeynon/render-deploy-action@v0.0.8
        with:
          api-key: ${{ secrets.render_api_key }}
          service-id: ${{ secrets.render_service_id_backend }}

  deploy-frontend:
    runs-on: ubuntu-latest
    steps:
      - name: Deploy frontend
        uses: johnbeynon/render-deploy-action@v0.0.8
        with:
          api-key: ${{ secrets.render_api_key }}
          service-id: ${{ secrets.render_service_id_frontend }}
