name: Staging Deploy

on:
  push:
    branches:
      - main

jobs:
  deploy:
    uses: ./.github/workflows/ci-cd-core.yml
    with:
      environment: staging
    secrets:
      docker_user: ${{ secrets.DOCKER_USER }}
      docker_password: ${{ secrets.DOCKER_PASSWORD }}
      render_api_key: ${{ secrets.RENDER_API_KEY }}
      render_service_id_backend: ${{ secrets.RENDER_SERVICE_ID_BACKEND }}
      render_service_id_frontend: ${{ secrets.RENDER_SERVICE_ID_FRONTEND }}
