name: Production Deploy

on:
  push:
    branches:
      - production

jobs:
  deploy:
    uses: ./.github/workflows/deploy.yml
    with:
      branch: production
      docker_user: ${{ secrets.DOCKER_USER }}
      docker_password: ${{ secrets.DOCKER_PASSWORD }}
      render_api_key: ${{ secrets.RENDER_API_KEY }}
      render_service_id: ${{ secrets.RENDER_SERVICE_ID }}
