name: Docker Build & Push

on:
  workflow_call:
    secrets:
      docker_user:
        required: true
      docker_password:
        required: true

jobs:
  docker-build:
    runs-on: ubuntu-latest

    steps:
      - uses: actions/checkout@v4

      - name: Login to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.docker_user }}
          password: ${{ secrets.docker_password }}

      # Backend
      - name: Build backend image
        run: |
          IMAGE=${{ secrets.docker_user }}/my-backend
          docker build -t $IMAGE:${GITHUB_SHA} ./backend

      - name: Push backend image
        run: |
          IMAGE=${{ secrets.docker_user }}/my-backend
          docker push $IMAGE:${GITHUB_SHA}

      # Frontend
      - name: Build frontend image
        run: |
          IMAGE=${{ secrets.docker_user }}/my-frontend
          docker build -t $IMAGE:${GITHUB_SHA} ./frontend

      - name: Push frontend image
        run: |
          IMAGE=${{ secrets.docker_user }}/my-frontend
          docker push $IMAGE:${GITHUB_SHA}
